.wishList-content {
	background-color: #d9d9d9;
	padding: 1em;
}

.wishlist-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 1em;
	border-bottom: 2px solid grey;
}

.change-button {
	font-size: 1em;
	padding: 0.5em;
	border: solid 0.1em black;
	border-radius: 1.5em;
	transition: 0.5s;
}

.change-button:hover {
	background-color: #f95b2e;
}

.views-container {
	margin-top: 0em;
}
