.post {
	display: flex;
	gap: 2em;
	margin: 1em auto 0;
	background: #eceff1;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.details-profile {
	margin-top: 1.5em;
	display: grid;
	grid-template-columns: 50% 50%;
	gap: 2em;
	column-gap: 5em;
}

.tableComponent {
	padding-top: 1em;
	height: 99%;
}

.main {
	width: 99%;
	height: 20em;
}

.preview {
	width: 25%;
	height: 100%;
	background: #f95b2e;
	display: grid;
	align-items: flex-end;
	justify-content: center;
}

.img-profile {
	max-width: 100%;
	height: 100%;
}

.gender p {
	text-transform: capitalize;
}
