.content-filter {
	padding: 1.5em 0;
	background-color: #b6b6b6;
	width: 0;
	gap: 0.5em;
	width: fit-content;
	font-size: small;
	position: absolute;
	z-index: 11;
}

.filter-description {
	display: flex;
	gap: 1em;
	padding: 0 1em 1em 1em;
}

.filter-minprice {
	display: flex;
	gap: 4em;
	padding: 0 1em 1em 1em;
}

.filter-maxprice {
	display: flex;
	gap: 3.8em;
	padding: 0 1em 1em 1em;
}

.filter-categories {
	display: flex;
	gap: 2.8em;
	padding: 0 1em 1em 1em;
}

.filter-title {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.filter-center {
	align-items: center;
}

input {
	width: 100%;
	height: 20%;
	padding: 0.15em;
	outline: none;
	border: none;
	border-radius: 0.2em;
}

input[type='range'] {
	background: transparent;
	accent-color: #f95b2e;
	width: 100%;
}

select {
	width: 100%;
	outline: none;
}

@media screen and (min-width: 1200px) {
	.content-filter {
		width: 20%;
		position: static;
		z-index: auto;
	}
}
