a {
	text-decoration: none;
	color: black;
}

.structure-card {
	box-sizing: border-box;
	display: grid;
	grid-template-rows: 45% 40% 15%;
	width: 16em;
	height: 25em;
	border-radius: 0.75em;
	background-color: #f95b2e;
	padding: 0.7em;
	transition: transform linear 0.2s;
}

.structure-card:hover {
	transform: scale(1.01);
}

.img-rating-container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	width: 15em;
	position: relative;
}

.card-img {
	height: 100%;
	border-radius: 0.75em;
	max-width: 15em;
	max-height: 200px;
}

.card-rating {
	margin-top: 0.3em;
	border-radius: 0.35em;
	background-color: #d9d9d9;
	padding: 0.3em;
	position: absolute;
	right: 2px;
	top: 0;
	font-family: sans-serif;
	font-weight: bold;
}

.card-info {
	align-self: flex-end;
	margin-top: 1em;
	gap: 0.4em;
	max-width: 15em;
}

.product-name {
	width: 10em;
	font-size: 1.5em;
	font-family: sans-serif;
	font-weight: 800;
	margin-bottom: 0.5em;
}

.product-number-data {
	padding-left: 0.5em;
	margin-right: 10em;
}

.prices {
	width: 15em;
	margin: 0.3em -0.5em;
}

.original-price {
	text-decoration: line-through;
	font-weight: lighter;
	color: lightgrey;
	font-size: 1em;
}

.price-with-discount {
	font-weight: bold;
	font-size: 2em;
}

.stock {
	margin-top: 0.2em;
	font-weight: bold;
}

.card-buttons {
	margin-top: 1em;
	width: 15em;
	height: fit-content;
	display: flex;
	justify-content: end;
	align-self: flex-end;
}

.buttons-container {
	height: 2em;
	margin: 0.2em;
	width: 30%;
	background-color: #d9d9d9;
	border: solid 0.1em black;
	border-radius: 0.5em;
	transition: all linear 0.2s;
}

.buttons-container:hover {
	background-color: black;
	color: #f95b2e;
	border: solid 0.1em #d9d9d9;
}
