.prod-page {
	box-sizing: border-box;
	padding: 1em;
	display: grid;
}

.prod-main-image {
	border-radius: 1em;
	width: 100%;
	height: 25em;
	background-color: grey;
}

.prod-all-image {
	margin-top: 0.5em;
	display: flex;
	justify-content: center;
	gap: 1em;
}

.all-image-image {
	background-color: grey;
	width: 5em;
	height: 5em;
	border-radius: 0.3em;
}

.prod-info-title {
	margin-top: 0.7em;
	font-size: 2em;
	text-align: start;
}

.prod-prices {
	margin-top: 1em;
	font-size: 1.5em;
	font-weight: bold;
	color: brown;
}

.prod-info-price {
	font-size: 1.25em;
	text-decoration: line-through;
}

.prod-info-discount {
	font-size: 1.75em;
}

.prod-bottom {
	display: flex;
}

.prod-buttons {
	display: flex;
	flex-direction: column;
	margin-top: 1em;
	margin-left: 2em;
	width: 90%;
	gap: 0.2em;
}

.prod-buttons button {
	border: none;
	border-radius: 1em;
	font-weight: bold;
	height: 3em;
}

.prod-buy {
	background: #e3cb52;
}

@media screen and (min-width: 720px) {
	.prod-page {
		gap: 2em;
		height: 100vh;
		align-items: center;
	}

	.prod-container {
		display: flex;
		gap: 2em;
	}

	.prod-info {
		display: grid;
		grid-template-rows: 17% 10%;
		align-self: flex-start;
		height: 25em;
	}

	.prod-info-description {
		align-self: flex-start;
	}

	.prod-bottom {
		align-items: flex-end;
	}

	.prod-buttons button {
		height: 3em;
	}
}
