nav {
	background-color: black;
	height: 2em;
	display: flex;
	align-items: center;
	padding: 1em;
}

.brand {
	display: flex;
	align-items: center;
	gap: 1em;
}

.brand svg {
	height: 3em;
	width: 3em;
}

.brand p {
	color: white;
	font-weight: bold;
	font-size: larger;
}

.nav-list {
	margin-left: auto;
	display: flex;
	align-items: center;
	gap: 1em;
	list-style: none;
	color: white;
}

.nav-item {
	font-size: 1.25em;
	text-align: center;
}

.nav-item a {
	color: white;
	text-decoration: none;
}

.nav-item:hover {
	color: gray;
}
