nav {
	display: grid;
	background-color: black;
	height: 3em;
	padding: 1.5em;
	overflow: hidden;
	transition: all linear 0.3s;
	grid-template-columns: 55% 25% 25%;
}

nav.nav-open {
	height: 15em;
	grid-template-rows: 15% 85%;
}

.brand {
	display: flex;
	align-items: center;
	gap: 1em;
}

.brand svg {
	height: 3em;
	width: 3em;
}

.brand p {
	color: white;
	font-weight: bold;
	font-size: larger;
}

.nav-list {
	width: 100%;
	grid-area: 1/2;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	list-style: none;
	color: white;
}

.nav-open .nav-list {
	margin-top: 1em;
	grid-area: 2/2;
	align-items: flex-start;
	margin-left: -1em;
	gap: 0.7em;
}

.nav-item {
	font-size: 1.25em;
	text-align: center;
}

.nav-item a {
	color: white;
	text-decoration: none;
}

.nav-item:hover a {
	color: gray;
}

.nav-cart {
	position: relative;
}

.user-menu {
	display: flex;
	align-items: center;
	justify-content: center;
	grid-area: 1/3;
	place-content: center;
	gap: 0.25em;
}

.nav-cartQuantity {
	position: absolute;
	background-color: brown;
	border-radius: 50%;
	width: 1em;
	padding: 0.2em;
	font-size: 12px;
	right: -5px;
}

.burger-menu {
	background-color: transparent;
	border: none;
	width: fit-content;
	cursor: pointer;
}
